<ng-http-loader spinner="sk-wave"></ng-http-loader>
<div>
    <div class="my-10">
        <div class="mx-auto container">
            <div class="flex justify-between mx-auto">
                <div class="hidden md:block items-center w-4/5">
                    <img alt="Welcome" src="assets/img/contact-us-2.png" class=" py-6 items-center" />
                    <div class="font-['Quicksand'] text-[#01452C]">
                        <div class="flex">

                            <img src="assets/img/icons8-time-50.png" class="h-5 w-5 pt-1 pr-1" alt="">
                            <h1>OFFICE HOURS: 9AM - 5PM</h1>
                        </div>
                        <div class="flex">
                            <img src="assets/img/icons8-phone-50.png" class="h-5 w-5 pt-1 pr-1" alt="">
                            <h1>PHONE NUMBER: 63 1222 3333</h1>
                        </div>
                        <div class="flex">
                            <img src="assets/img/icons8-mobile-phone-50.png" class="h-5 w-5 pt-1 pr-1" alt="">
                            <h1>MOBILE NUMBER: 63 453 234 5466</h1>
                        </div>
                        <div class="flex">
                            <img src="assets/img/icons8-email-50.png" class="h-5 w-5 pt-1 pr-1" alt="">
                            <h1>EMAIL: SWEETSERENITYatGMAIL.COM</h1>
                        </div>
                    </div>
                </div>
                <div class="w-full  h-full my-6 px-5 md:px-16">
                    <div class=" text-start">
                        <h1 class="text-2xl font-semibold sm:text-3xl text-[#01452C] font-['PP_Fragment']">Contact us
                        </h1>

                        <p class=" text-black font-['Quicksand']">
                            Please provide us with the necessary information:
                        </p>
                    </div>

                    <form action="" class=" mb-0 mt-4 text-black space-y-4 font-['Quicksand']" #bookingForm="ngForm"
                        (ngSubmit)="onSubmit()">
                        <div class="relative">
                            <input
                                class="w-full  focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm font-medium shadow-sm"
                                name="clientName" placeholder="Client fullname" type="text" required
                                [(ngModel)]="booking.clientName" #clientName="ngModel" />
                            <div *ngIf="clientName.errors?.['required'] && (clientName.dirty || clientName.touched)"
                                class="text-red-700 text-sm">
                                Client fullname is required.
                            </div>
                        </div>

                        <div class="relative">
                            <input
                                class="w-full  focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm font-medium shadow-sm"
                                name="clientContactNumber" placeholder="Client contact number" type="text" required
                                [(ngModel)]="booking.clientContactNumber" #clientContactNumber="ngModel" />
                            <div *ngIf="clientContactNumber.errors?.['required'] && (clientContactNumber.dirty || clientContactNumber.touched)"
                                class="text-red-700 text-sm">
                                Client contact number is required.
                            </div>
                        </div>
                        <div class="relative">
                            <input
                                class="w-full  focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm font-medium shadow-sm"
                                name="eventName" placeholder="Suggest event name" type="text" required
                                [(ngModel)]="booking.eventName" #eventName="ngModel" />
                            <div *ngIf="eventName.errors?.['required'] && (eventName.dirty || eventName.touched)"
                                class="text-red-700 text-sm">
                                Event name is required.
                            </div>
                        </div>
                        <div>
                            <div class="relative">
                                <input pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required
                                    #email="ngModel" type="email" name="email" placeholder="Email"
                                    class="w-full focus:border focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm shadow-sm"
                                    [(ngModel)]="booking.email" />
                                <div *ngIf="email.errors?.['required'] && (email.dirty || email.touched)"
                                    class="text-red-700 text-sm">
                                    Email is required.
                                </div>
                                <div *ngIf="email.errors?.['pattern']" class="text-red-700 text-sm">
                                    Email is not valid.
                                </div>
                            </div>
                        </div>

                        <div class="relative">
                            <input
                                class="w-full  focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm font-medium shadow-sm"
                                name="groomName" placeholder="Groom fullname" type="text" required
                                [(ngModel)]="booking.groomName" #groomName="ngModel" />
                            <div *ngIf="groomName.errors?.['required'] && (groomName.dirty || groomName.touched)"
                                class="text-red-700 text-sm">
                                Groom fullname is required.
                            </div>
                        </div>
                        <div class="relative">
                            <input
                                class="w-full  focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm font-medium shadow-sm"
                                name="groomContactNumber" placeholder="Groom contact number" type="text" required
                                [(ngModel)]="booking.groomContactNumber" #groomContactNumber="ngModel" />
                            <div *ngIf="groomContactNumber.errors?.['required'] && (groomContactNumber.dirty || groomContactNumber.touched)"
                                class="text-red-700 text-sm">
                                Groom contact number is required.
                            </div>
                        </div>

                        <div class="relative">
                            <input
                                class="w-full  focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm font-medium shadow-sm"
                                name="brideName" placeholder="Bride fullname" type="text" required
                                [(ngModel)]="booking.brideName" #brideName="ngModel" />
                            <div *ngIf="brideName.errors?.['required'] && (brideName.dirty || brideName.touched)"
                                class="text-red-700 text-sm">
                                Bride fullname is required.
                            </div>
                        </div>
                        <div class="relative">
                            <input
                                class="w-full  focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm font-medium shadow-sm"
                                name="brideContactNumber" placeholder="Bride contact number" type="text" required
                                [(ngModel)]="booking.brideContactNumber" #brideContactNumber="ngModel" />
                            <div *ngIf="brideContactNumber.errors?.['required'] && (brideContactNumber.dirty || brideContactNumber.touched)"
                                class="text-red-700 text-sm">
                                Bride contact number is required.
                            </div>
                        </div>
                        <div class="relative">
                            <input
                                class="w-full  focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm font-medium shadow-sm"
                                name="address" placeholder="Address" type="text" required [(ngModel)]="booking.address"
                                #address="ngModel" />
                            <div *ngIf="address.errors?.['required'] && (address.dirty || address.touched)"
                                class="text-red-700 text-sm">
                                Address is required.
                            </div>
                        </div>

                        <!-- <div class="relative">

                            <div class="relative max-w-sm">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path
                                            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                    </svg>
                                </div>
                                <input datepicker datepicker-autohide type="text" 
                                    [(ngModel)]="booking.weddingDate" name="weddingDate"  (ngModelChange)="onDateChange($event)"
                                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
                                    placeholder="Select Wedding Date">
                                    Date (from template): {{ booking.weddingDate }}
                                <input type="date"
                                    class="pl-10 p-2.5 pe-1 w-full focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] text-sm font-medium shadow-sm"
                                    [(ngModel)]="booking.weddingDate" name="weddingDate">

                            </div>

                            <div *ngIf="address.errors?.['required'] && (address.dirty || address.touched)"
                                class="text-red-700 text-sm">
                                Address is required.
                            </div>
                        </div> -->
                        <div class="relative">
                            <label class="py-2 text-base ">Wedding date</label>
                            <input type="date"
                                class=" p-2.5 pe-1 w-full focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] text-sm font-medium shadow-sm"
                                [(ngModel)]="booking.weddingDate" name="weddingDate">
                            <div *ngIf="address.errors?.['required'] && (address.dirty || address.touched)"
                                class="text-red-700 text-sm">
                                Address is required.
                            </div>
                        </div>

                        <div>
                            <div class="relative">
                                <select
                                    class="w-full focus:border focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm shadow-sm"
                                    type="text" #weddingType="ngModel" name="weddingType"
                                    [(ngModel)]="booking.weddingType">
                                    <option [ngValue]="undefined" [disabled]="true" class="text-gray-400" selected>
                                        Select
                                        Wedding type</option>
                                    <option value="Traditional Religious Weding">Traditional Religious Weding</option>
                                    <option value="Civil Ceremony Wedding">Civil Ceremony Wedding</option>
                                    <option value="Formal Wedding">Formal Wedding</option>
                                    <option value="Informal Wedding">Informal Wedding</option>
                                    <option value="Double wedding">Double wedding</option>
                                    <option value="Same sex wedding">Same sex wedding</option>
                                </select>

                            </div>
                        </div>

                        <div>
                            <div class="relative">
                                <select
                                    class="w-full focus:border focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm shadow-sm"
                                    type="text" #weddingTheme="ngModel" name="weddingTheme" required=""
                                    [(ngModel)]="booking.weddingTheme">
                                    <option value="" [ngValue]="undefined" [disabled]="true" class="text-gray-400"
                                        selected>
                                        Select
                                        Wedding Theme</option>
                                    <option value="Classic">Classic</option>
                                    <option value="Rustic">Rustic</option>
                                    <option value="Vintage">Vintage</option>
                                    <option value="Modern Filipiniana">Modern Filipiniana</option>
                                    <option value="Minimalists">Minimalists</option>
                                    <option value="Whimsical">Whimsical</option>
                                    <option value="Garden">Garden</option>
                                    <option value="Beach">Beach</option>
                                    <option value="Tropical">Tropical</option>
                                    <option value="Fairy Tale">Fairy Tale</option>
                                </select>
                            </div>
                            <div *ngIf="weddingTheme.errors?.['required'] && (weddingTheme.dirty || weddingTheme.touched)"
                                class="text-red-700 text-sm">
                                Please select a wedding theme.
                            </div>
                        </div>

                        <div>
                            <div class="relative">
                                <select
                                    class="w-full focus:border focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm shadow-sm"
                                    type="text" #selectedPackage="ngModel" name="selectedPackage" required
                                    [(ngModel)]="booking.selectedPackage">
                                    <option value="" [ngValue]="undefined" [disabled]="true" class="text-gray-400"
                                        selected>
                                        Select
                                        Package</option>
                                    <option value="Gold">Gold</option>
                                    <option value="Emerald">Emerald</option>
                                    <option value="Diamond">Diamond</option>
                                </select>
                            </div>
                            <div *ngIf="selectedPackage.errors?.['required'] && (selectedPackage.dirty || selectedPackage.touched)"
                                class="text-red-700 text-sm">
                                Please select a wedding package.
                            </div>
                        </div>

                        <div class="my-4">
                            <h1 class=""> Payment Information</h1>
                            <div class="flex justify-items-start space-x-3 pb-2">
                                <img src="assets/img/visa.png" class="h-10 w-14" alt="">
                                <img src="assets/img/card (1).png" class="h-8 w-14 mt-1" alt="">
                                <img src="assets/img/paypal.png" class="h-10 w-14" alt="">
                                <img src="assets/img/american-express.png" class="h-10 w-14" alt="">
                                <img src="assets/img/card.png" class="h-8 w-14 mt-1" alt="">
                            </div>
                            <div class="relative mb-4 mt-1">
                                <input
                                    class="w-full  focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm font-medium shadow-sm"
                                    name="cardNumber" placeholder="Card number" type="text" required pattern="^\d{12}$"
                                    [(ngModel)]="booking.registrationFee.cardNumber" #cardNumber="ngModel" />
                                <div *ngIf="cardNumber.errors?.['required'] && (cardNumber.dirty || cardNumber.touched)"
                                    class="text-red-700 text-sm">
                                    Card number is required
                                </div>
                                <div *ngIf="cardNumber.errors?.['pattern']" class="text-red-700 text-sm">
                                    Invalid card number format. Use 12 digits.
                                </div>
                            </div>
                            <div class="relative my-4 ">
                                <input
                                    class="w-full  focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm font-medium shadow-sm"
                                    name="fullName" placeholder="Fullname" type="text" required
                                    [(ngModel)]="booking.registrationFee.fullName" #fullName="ngModel" />
                                <div *ngIf="fullName.errors?.['required'] && (fullName.dirty || fullName.touched)"
                                    class="text-red-700 text-sm">
                                    Fullname is required.
                                </div>

                            </div>

                            <div class="flex justify-between gap-2 mb-4">
                                <div class="relative md:w-1/2">
                                    <input
                                        class="w-full  focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm font-medium shadow-sm"
                                        name="expirationDate" placeholder="Exp Date ex. 12/12" type="text" required
                                        pattern="^(0[1-9]|1[0-2])\/\d{2}$"
                                        [(ngModel)]="booking.registrationFee.expirationDate"
                                        #expirationDate="ngModel" />
                                    <div *ngIf="expirationDate.errors?.['required'] && (expirationDate.dirty || expirationDate.touched)"
                                        class="text-red-700 text-sm">
                                        Expiration date is required.
                                    </div>
                                    <div *ngIf="expirationDate.errors?.['pattern']" class="text-red-700 text-sm">
                                        Invalid expiration date format. Use MM/YY format.
                                    </div>
                                </div>
                                <div class="relative md:w-1/2">
                                    <input
                                        class="w-full  focus:border text-black focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm font-medium shadow-sm"
                                        name="cvv" placeholder="CVV ex. 1234" type="text" required pattern="[0-9]{3,4}"
                                        max="9999" [(ngModel)]="booking.registrationFee.cvv" #cvv="ngModel" />
                                    <div *ngIf="cvv.errors?.['required'] && (cvv.dirty || cvv.touched)"
                                        class="text-red-700 text-sm">
                                        CVV is required.
                                    </div>
                                    <div *ngIf="cvv.errors?.['pattern']" class="text-red-700 text-sm">
                                        Please input a valid cvv
                                    </div>

                                </div>
                            </div>
                            <div class="relative">
                                <input type="number" required #amountFee="ngModel" id="amountFee" name="amountFee"
                                    min="5000" max="5000"
                                    class="w-full focus:border focus:border-[#E8AAAD] focus:outline-none border  border-[#E8AAAD] p-2 pe-12 text-sm shadow-sm"
                                    [(ngModel)]="booking.registrationFee.amountFee"
                                    placeholder="Registration Php 5,000 cash" />
                                <div class="text-black text-sm">
                                    Note: This is a paid registration for better assurance. NON REFUNDABLE.
                                </div>
                                <div *ngIf="amountFee.errors?.['required'] && (amountFee.dirty || amountFee.touched)"
                                    class="text-red-700 text-sm">
                                    Amount fee is required.
                                </div>
                                <div *ngIf="amountFee.errors?.['min'] || amountFee.errors?.['max']"
                                    class="text-red-700 text-sm">
                                    Please input 5000 exact worth of cash.
                                </div>

                            </div>
                        </div>

                        <div class="flex items-center justify-between">
                            <button type="submit" [disabled]="bookingForm.invalid"
                                class="inline-block  px-8 py-2 text-sm font-medium text-white bg-[#E8AAAD]">
                                Send
                            </button>

                            <div *ngIf="bookingForm.invalid" class="text-red-700 text-sm">
                                Please fill out the form before submit.
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>