
<div class="container mx-auto px-5 py-2 lg:px-32 mb-4">
    <div class="flex flex-wrap justify-center text-center">
        <div class="w-full lg:w-6/12 px-4 mb-6 mt-2">
            <h2 class="text-2xl font-semibold  text-[#121212] font-['Quicksand']">Gallery</h2>

        </div>
    </div>
    <div class="-m-1 flex flex-wrap md:-m-2">
        <div class="flex w-1/2 flex-wrap">
            <div class="w-1/2 p-1 md:p-2">
                <img alt="gallery1" class="block h-full w-full rounded-lg object-cover object-center"
                    src="assets/img/image-1.jpg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
                <img alt="gallery2" class="block h-full w-full rounded-lg object-cover object-center"
                    src="assets/img/image-2.jpg" />
            </div>
            <div class="w-full p-1 md:p-2">
                <img alt="gallery3" class="block h-full w-full rounded-lg object-cover object-center"
                src="assets/img/image-3.jpg" />
            </div>
        </div>
        <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center"
                src="assets/img/image-4.jpeg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center"
                src="assets/img/image-5.jpg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center"
                src="assets/img/image-6.jpg" />
            </div>
        </div>
    </div>
</div>