<div>
    <div class="container flex flex-wrap justify-center mx-auto">
        <div class="items-center justify-center">
            <h1 class="font-['GFS_Didot'] uppercase text-center text-4xl text-[#2D2C2D] my-4">Our Offerings</h1>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="p-3 mb-4">
                    <img class="h-80 w-full "
                    src="assets/img/gold.jpg" alt="">
                    <div>
                        <h1 class="font-['GFS_Didot'] uppercase text-2xl text-[#2D2C2D] my-1">Gold</h1>
                        <p class="font-['Quicksand']">The Gold package offers a luxurious and elegant wedding
                            experience, complete with premium decor and top-tier catering options. You'll bask in the
                            splendor of a wedding fit for royalty, featuring exquisite floral arrangements.</p>
                        <button class="bg-[#E8AAAD] py-2 px-4 mt-5 text-white font-['Quicksand']"><a
                                routerLink="/package-gold">View details</a></button>
                    </div>
                </div>
                <div class="p-3 mb-4">
                    <img class="h-80 w-full "
                    src="assets/img/emerald.jpg" alt="">
                    <div>
                        <h1 class="font-['GFS_Didot'] uppercase text-2xl text-[#2D2C2D] my-1">Emerald</h1>
                        <p class="font-['Quicksand']">The Emerald package provides a balance of sophistication and
                            affordability, making it the perfect choice for couples seeking a memorable yet
                            budget-friendly wedding celebration. Promises a charming and enchanting wedding affair.</p>
                        <button class="bg-[#E8AAAD] py-2 px-4 mt-5 text-white font-['Quicksand']"><a
                            routerLink="/package-emerald">View details</a></button>
                    </div>
                </div>
                <div class="p-3 mb-4">
                    <img class="h-80 w-full "
                    src="assets/img/diamond.jpg"
                        alt="">
                    <div>
                        <h1 class="font-['GFS_Didot'] uppercase text-2xl text-[#2D2C2D] my-1">Diamond</h1>
                        <p class="font-['Quicksand']">Our Diamond package is the epitome of opulence, featuring
                            extravagant amenities, personalized services, and a breathtaking venue to create an
                            unforgettable wedding day. Offering exclusive access to a dreamy venue, a dedicated team of
                            wedding experts.</p>
                        <button class="bg-[#E8AAAD] py-2 px-4 mt-5 text-white font-['Quicksand']"
                            ><a
                            routerLink="/package-diamond">View details</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Parallax effect -->
<div class="mx-auto h-80 w-full bg-cover bg-fixed bg-center bg-no-repeat shadow-lg object-contain my-10"
    style="background-image:url('https://labellefeteweddings.com/wp-content/uploads/2019/08/debut-3.png');">
    <div class="px-6 py-10 md:py-20 text-center text-neutral-800 dark:bg-neutral-700 dark:text-neutral-200">
        <div>
            <h2 class="font-['GFS_Didot'] text-white text-4xl">OUR PROCESS</h2>
            <p class="font-['Quicksand'] text-white md:px-32 text-sm md:text-base">We take pride in our unique process and timeline. The
                operational scheme of La Belle Fete is the pillar
                of strength of the company. Because of this formulated process and timeline, we excel and thrive in our
                systematic approach with the distinct business model we implement. In the same vein, the creative
                process of La Belle Fete is the core of the organization. We dissect the imaginative and inventive
                facets as we arrive with a polished execution.</p>
        </div>
    </div>
</div>

<div class="py-10">
    <div
        class="container flex flex-col justify-center mx-auto items-center space-y-4 font-['PP_Fragment'] p-4 text-center">
        <img src="assets/img/2.png" class="h-24" alt="">
        <h1>Of happy ever after, stylish parties and exceptionally beautiful fetes…
        </h1>
        <h1>CONCEPT. CURATION. PLANNING. COORDINATION</h1>
    </div>
</div>

